numpy
Pillow
seaborn
matplotlib
pandas
tqdm

scikit-learn
scipy

# TensorFlow on CPU only, with MacOS-specific version.
tensorflow>=2.16 ; sys_platform != 'darwin' or platform_machine == 'x86_64'
tensorflow-macos>=2.16 ; sys_platform == 'darwin' and platform_machine == 'arm64'

# Latest PyTorch everywhere except on Intel Mac.
torch>=2.7 ; sys_platform != 'darwin' or platform_machine == 'arm64'
torch>=2.1,<2.3 ; sys_platform == 'darwin' and platform_machine == 'x86_64'

torchvision
thingsvision @ git+https://github.com/representational-alignment/thingsvision
